{% extends 'base.html' %}

{% block pagina %}

{% if erro is not None %}
<div class='error-overlay' onclick='this.style.display="none"'>
	<div class='container'>
		<div class='card'>
			<div class='card-body'>
				<h5 class='text-center'>Aviso</h5>
				<button
					type='button'
					class='close'
					aria-label='Fechar'
				>
					<span aria-hidden='true'>&times;</span>
				</button>
				<hr />
				<p>{{ erro }}</p>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class='form'>
	<div class='container'>
		<div class='card'>
			<div class='card-body'>
				<form method='post' action='.' autocomplete='off'>
					{% csrf_token %}

					<div class='form-group'>
						<label for='email'>Email</label>
						<input
							type='email'
							class='form-control'
							id='email'
							name='email'
							placeholder='Preencha campo com o seu email'
							value='{{ form.email }}'
							required
							maxlength='45'
						/>
					</div>

					<div class='form-row pt-4'>
						<div class='col'>
							<label for='senha'>Senha</label>
							<input
								type='password'
								id='senha'
								name='senha'
								placeholder='Preencha campo com a nova senha'
								required
								maxlenth='100'
								class='form-control'
								value='{{ form.senha }}'
							/>
						</div>
						<div class='col'>
							<label for='confirma'>Confirmar</label>
							<input
								type='password'
								id='confirma'
								name='confirma'
								placeholder='Preencha campo com a confirmação da senha'
								required
								maxlenth='100'
								class='form-control'
								value='{{ form.confirma }}'
							/>
						</div>
					</div>

					<footer>
						<button
							type='button'
							class='btn btn-danger btn-lg'
							onclick='window.location.href=`{% url "home" %}`'
						>
							Cancelar
						</button>
						<button 
							type='submit' 
							class='btn btn-success btn-lg ml-4'
						>
							Salvar
						</button>
					</footer>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}