{% extends 'login/index.html' %}
{% load static %}

{% block formulario %}
<div>
	<img src='{% static "assets/newuser.svg" %}' class='rounded mx-auto d-block' alt='' />

	<p class='text-muted text-justify'>
		O acesso ao sistema só é permitido aos alunos e colaboradores do Vitalitá. Se deseja acessar o sistema entre em contato com o <a class='card-link' href='https://www.puc-campinas.edu.br/ciapd-da-puc-campinas-prepara-pessoas-com-deficiencia-para-o-mercado-de-trabalho/' target='_blank'>órgão responsável</a> 
	</p>

	<div class='form-row'>
		<button class='btn btn-link' onclick='window.location.href=`{% url "login" %}`'>Voltar</button>
	</div>
</div>
{% endblock %}