{% extends 'login/index.html' %}

{% block formulario %}
<form action='{% url "camera" %}' method='post'>
	{% csrf_token %}
	<video width='512' height='512' autoplay></video>
	<canvas></canvas>
    <input type='hidden' name='url' value=''>

    <div class='loader'>
    	<div class='dots'>
    		<div class='dot'></div>
            <div class='dot'></div>
            <div class='dot'></div>
            <div class='dot'></div>
            <div class='dot'></div>
            <div class='dot'></div>
            <div class='dot'></div>
            <div class='dot'></div>
            <div class='dot'></div>
        </div>
    </div>

    <button type='button' class='btn btn-link btn-lg btn-block' onclick='window.location.href=`{% url "login" %}`'>Voltar</button>
</form>
<script>
	var video = document.getElementsByTagName('video')[0];
	var canvas = document.getElementsByTagName('canvas')[0];
	var captura;

	(function() {
		navigator.getMedia = 	navigator.getUserMedia || 
								navigator.webkitGetUserMedia || 
								navigator.mozGetUserMedia || 
								navigator.mzGetUserMedia;

		navigator.getMedia({ video:true, audio:false }, (stream) => exibirStream(stream), (error) => erroStream(error));
	})();

	function exibirStream(stream) {
		video.srcObject = stream;
		captura = new ImageCapture(stream.getVideoTracks()[0]);
		window.setTimeout(capturarTela(), 20000);
	}

	function erroStream(error) {
		window.location.href = '/extcomp/associado/';
	}

	function capturarTela() {
		captura.takePhoto()
				.then(blob => createImageBitmap(blob))
				.then(imagemBitMap => {
					capturarFrame(imagemBitMap);
				});
	}

	function capturarFrame (imagem) {
		const formulario = document.getElementsByTagName('form')[0];
		var entrada = document.getElementsByTagName('input')[1];
		
		canvas.width = 512;
		canvas.height = 512;

		canvas.getContext('2d').drawImage(imagem, 0, 0, canvas.width, canvas.height);
		url = canvas.toDataURL('image/png');

		entrada.value = url;
		formulario.submit();
	}
</script>
{% endblock %}