{% extends 'login/index.html' %}

{% block formulario %}
<form method='post' action='{% url "reset" %}' autocomplete='off'>
	{% csrf_token %}
	<div class='form-group'>
		<label for='email'>Email</label>
		<input
			type='email'
			class='form-control'
			id='email'
			name='email'
			placeholder='Preencha campo com o seu email'
			value='{{ form.email }}'
			required							
		/>
	</div>

	<div class='form-row'>
		<button type='button' class='btn btn-link' onclick='window.location.href=`{% url "login" %}`'>Voltar para inicio</button>
		<button type='submit' class='btn btn-success btn-lg btn-block'>Redefinir senha</button>
	</div>
</form>
{% endblock %}